<!DOCTYPE html>
<html>
<head>
  <title>View bookmarks</title>
</head>
<body>
<h1 align="center">Bookmark Manager</h1>

<div id="bookmarks">
  <ul>
    <% @bookmarks.each do |bookmark| %>
      <li><%= bookmark %></li>
    <% end %>
  </ul>
</div>



<style>

#bookmarks {
    text-align: center;
    background-color: white;

}

body {
  background-color:  #c2c2d6;
}


ul { 
    display: inline-block; text-align: left; 
}





</style>

</body>
</html>