<!DOCTYPE html>
<html>
<head>
  <title>Edit bookmark</title>
</head>
<body>
<h1 align="center">Editing Bookmarks</h1>



<form action="/bookmarks/<%= @bookmark.id %>" method="post">
  <input type="hidden" name="_method" value="PATCH" />
  <input type="text" name="url" value="<%= @bookmark.url %>"/>
  <input type="text" name="title" value="<%= @bookmark.title %>" />
  <input type="submit" value="Submit" />
</form>


<style>

body {
  background-color:  #c2c2d6;

}


</style>
</body>
</html>