<!DOCTYPE html>
<html>
<head>
  <title>Add a book</title>
</head>
<body>
<h1 align="center">Bookmark Manager</h1>


<br>
<h3 align="center">Add a bookmark</h3>
<div align="center" id="addbookmark">
<form action="/bookmarks" method="post">
<input type="text" name="url">
<input type="submit" value="Submit">
</form>
</div>



<style>

#bookmarks {
    text-align: center;
    background-color: white;

}

body {
  background-color:  #c2c2d6;
}


ul { 
    display: inline-block; text-align: left; 
}





</style>

</body>
</html>