<!DOCTYPE html>
<html>
<head>
  <title>Add a book</title>
</head>
<body>
<h1 align="center">Bookmark Manager</h1>


<br>
<h3 align="center">Add a bookmark</h3>
<div align="center" id="addbookmark">
<form action="/bookmarks" method="post">
<label for="title">Title</lable>
<input type="title" name="title" placeholder="Please enter a title">
<label for="url">Url</label>
<input type="text" name="url" placeholder="Please enter a url">
<input type="submit" value="Submit">
</form>
</div>
<br>
<br>
<br>
<br>
<br>
<div align="center">
<form action="/bookmarks">
<input class="button" type="submit" value="Back to Bookmarks">
</form> 
</div>



<style>

#bookmarks {
    text-align: center;
    background-color: white;

}

body {
  background-color:  #c2c2d6;
}


ul { 
    display: inline-block; text-align: left; 
}





</style>

</body>
</html>