<!DOCTYPE html>
 <html>
 <head>
   <title>Index</title>
   <link rel="stylesheet" type="text/css" href="css/index.css">
  </head>
 <body>
 <div class="header">
 <h1>Bookmark Manager</h1>
 <br>
 <h3>For saving all your favourite websites</h3>
<br>
<br>

<div class="container">
<section id="Sign up">
 <form id="formsignup" action="/users/new">
 <input class="button" type="submit" value="Click here to sign up for an account">
 </form>
 </section>
 <br>
 <br>
<section id="Log in">
 <form id="formsignin" action="/sessions/new">
  <input class="button" type="submit" value="Log in"> 
 </form>
 </section>
 </div>

 </body>
 </html>