<!DOCTYPE html>
<html>
<head>
  <title>Log In</title>
</head>
<body>
<h2>
<%= flash[:notice] %>
</h2>
<form action="/sessions" method="post">
  <input type="text" name="username" placeholder="Please enter a username">
  <input type="email" name="email" placeholder="Please enter an email">
  <input type="password" name="password" placeholder="Please enter a password">
  <input type="submit" value="Log in">
</form>
<br>
<br>
<br>
<br>
<br>
<h3>I've changed my mind</h3>
<div align="center">
<form action="/bookmarks">
<input class="button" type="submit" value="Back to Bookmarks">
</form> 
</div>
</body>
</html>