<!DOCTYPE html>
<html>
<head>
  <title>Sign Up</title>
</head>
<body>
<h2>
<%= flash[:notice] %>
</h2>
<form method="post" action="/users">
  <label for="username">Username</label>
  <input type="text" name="username" placeholder="Please enter a username">
  <label for="email">Email</label>
  <input type="email" name="email" placeholder="Please enter an email">
  <lable for"password">Password</label>
  <input type="password" name="password" placeholder="Please enter a password">
  <input type="submit" value="Submit">
</form>
<br>
<br>
<br>
<br>
<br>
<h3>I've changed my mind</h3>
<div align="center">
<form action="/bookmarks">
<input class="button" type="submit" value="Back to Bookmarks">
</form> 
</div>
</body>
</html>